body {
    background-color: #F1E4DB;
    margin: 0;
    padding: 0;
    max-width: 900px;
    margin: auto;
}



.section_1 div {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 20px 0px 20px 0px;
}

.cabecalho {
    display: flex;
    margin: auto;
    /*background-color: red;*/
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    margin-top: 40px;
}

.rounded {
    display: flex;
    flex-direction: column;    
}

.rounded_group {
    display: flex;
}

.cabecalho .rounded img {
    width: 8px;
    height: 8px;
    padding: 5px;
    margin: 6px;
}

.cabecalho h2 {
    margin-left: 20px;
    
}

.section_2 {
    background-color: #9B8A7E;
    height: 70vh;
    /*border-top-right-radius:10%;*/
    padding: 1px;
}

.section_2 .sistema {
    width: 90%;
    
    /*background-color: white;*/
    margin: auto;
    margin-top: 10px;
    
}

.sistema {
    display: flex;
    flex-direction: column;
}
.sistema a {
    
    color: white;
    text-decoration: none;
    background-color: green;
    font-weight: medium;
    font-size: 15px;
    border-radius: 20px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px 20px;   

}

.sistema a:hover {
    background-color: rgb(44, 110, 88);
    color: black;
}

.rodape {
   position: fixed;
   bottom: 5px;
}
